body {
	text-align: center;
	font-family: monospace;
	background: #222;
	color: white;
}

#container {
	margin: 0 auto;
	width: 1100px;
}

#canvasContainer {
	float: left;
	border-right: 1px solid #666;
	height: 425px;
}

#sidebar {
	width: 299px;
	float: left;
	height: 425px;
	background-color: black;
}

#sidebar #countdown {
	font-size: 2em;
	margin-top: 10px;
}

#sidebar #hp {
	color: red;
}

#muteControl {
	text-align: right;
}

#muteControl #muteButton {
	cursor: pointer;
}
